{% extends 'layout.jinja2' %}
{% block content %}

<form name="new_search" method="POST">
    <select name="category">
        <option value="ProgrammingLanguages">Programming Languages</option>
        <option value="IT">Information Technology</option>
        <option value="Hiring">Job posts</option>
        <option value="Security">Security</option>
        <option value="Companies">Companies</option>
        <option value="Hardware">Hardware</option>
    </select>
    <button type="submit">Search</button>
</form>

<form name="saved_search" method="GET">
    <button type="submit">View Historical Data</button>
</form>

{% endblock %}