# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = my_scraper.settings

[scrapyd]
spplication = scrapy_heroku.app.application

[deploy]
url = https://techlurker.herokuapp.com:80/
project = TechLurker
