{% extends 'layout.jinja2' %}

{% block content %}
<h2 class="about_us">About Us</h2>
<p class="App_description">TechLurker is an app which gives up to date information on all of the latest news in the tech industry. We use a web crawler to get the news from various tech sites and return it to our users in an interesting and easy to understand manner. Choose from one of our built in starting points or input your own favorite site and see what interesting information gets returned to you.</p>
<br>
<div class="bio_container">
    <section class="bio_box">
        <h3>Han Bao</h3>
        <img class="profile" src='static/CSS/css/han.jpeg'>
    </section>
    <section class="bio_box">
        <h3>Max Wolff</h3>
        <img class="profile" src="static/CSS/css/max.png">
    </section>
    <section class="bio_box">
        <h3>Brian Wheeler</h3>
        <img class="profile" src="static/CSS/css/brian.jpeg">
    </section>
    <section class="bio_box">
        <h3>Phil Werner</h3>
        <img class="profile" src="static/CSS/css/phil.jpeg">
    </section>
</div>
</ul>
{% endblock %}