{% extends 'layout.jinja2' %}
{% block content %}
<div class="search_form">
    <form name="new_search" method="POST">
        <select name="category">
            <option name="ProgrammingLanguages">Programming Languages</option>
            <option name="IT">Information Technology</option>
            <option name="Hiring">Job posts</option>
            <option name="Security">Security</option>
            <option name="Companies">Companies</option>
            <option name="Hardware">Hardware</option>
        </select>
        <input type="submit">Search</input>
    </form>

    <form name="saved_search" method="GET">
        <button type="submit"><a href="{{ request.route_url('saved_results', id=1) }}">View Historical Data</a></button>
    </form>
</div>
{% endblock %}